@page
@model AutoPost_Bot.Pages.LoginModel
@{
    ViewData["Title"] = "Войти";
}

<h3>Войти</h3>

@if (Model.IsLoginError)
{
    <div class="alert alert-danger" role="alert">
        @Model.LoginErrorMessage
    </div>
}

<form method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@@</span>
        <input asp-for="Email"
               type="text"
               class="form-control @(Model.IsEmailInvalid ? "is-invalid" : "")"
               placeholder="Введите электронную почту"
               aria-label="Email"
               aria-describedby="basic-addon1"
               onblur="this.form.submit();">
        @if (Model.IsEmailInvalid)
        {
            <div class="invalid-feedback">
                Введите корректный адрес электронной почты.
            </div>
        }
    </div>

    <div class="input-group mb-3">
        <input asp-for="Password"
               type="password"
               class="form-control"
               placeholder="Введите пароль"
               aria-label="Password"
               aria-describedby="basic-addon1">
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Авторизоваться</button>
</form>
