@page "/ChangePassword"
@rendermode InteractiveServer
@using System.Text.RegularExpressions

<h1>Изменить пароль</h1>

<div class="col-6">
    <div class="mb-3">
        <label for="oldPasswordForm" class="form-label">Введите старый пароль</label>
        <input type="password" 
            class="form-control" 
            id="oldPasswordForm">
        </div>

        @if(!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" 
                 role="alert">
                @errorMessage
            </div>
        }

        <div class="mb-3">
        <label for="newPasswordForm" class="form-label">Введите новый пароль</label>
        <input type="password" 
            class="form-control"
            id="newPasswordForm"
            @bind="newPassword"
            @onblur="PasswordCheck">
        </div>

         <div class="mb-3">
        <label for="newPasswordRepeatForm" 
            class="form-label">Повторите новый пароль</label>
        <input type="password" 
            class="form-control" 
            id="newPasswordRepeatForm">
        </div>

    <button class="btn btn-primary" 
            type="submit">Сохранить</button>
</div>

@code {
    private static readonly string Pattern = @"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)\S{8,}$";
    private string errorMessage = string.Empty;

    private string oldPassword = string.Empty;
    private string newPassword = string.Empty;


    private readonly Regex regex = new Regex(Pattern);

    private void PasswordCheck(FocusEventArgs args)
    {
        if (!regex.IsMatch(newPassword))
        {
            errorMessage = "Пароль должен быть не менее 8 символов, содержать заглавную, строчную буквы и цифры.";
            StateHasChanged();
        }
        else
        {
            errorMessage = string.Empty;
        }
    }
}
