<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - AutoPost Bot</title>

    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/app.css" rel="stylesheet" />
</head>

    <div class="container">
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Auto-post Bot</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">На главную</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Login">Вход</a></li>
                    </ul>
                </div>
                </div>
            </nav>
        </header>
        <main role="main">
            <article>
            <div class="row">
                <div class="col-12 col-xl-6">
                  @RenderBody()
                </div>
                </div>
            </article>
        </main>
        </div>

    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
